form{
  width: 100%;
  background-color: rgba(220,220,0,0.2);
  padding : 5px 0px;
}

.c100{
  width: 100%;
  margin: 30px;
}

label{
  display: inline-block;
  min-width: 25%;
}

input[type="submit"]{
  color: RGB(200,100,0);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  border: 2px solid RGB(200,100,0);
}

input[type="submit"]:hover{
  background-color: RGB(200,100,0);
  color: #fff;

  box-shadow: 0px 0px 5px 0px #777;
}

.btn-blocked{
  background-color: red;
}

.menu{
  height: 500px;
     text-align: center;
     border: solid 2px black;
     background-image: url("background.jpg");
     background-repeat: no-repeat;
     margin: auto 0px;
     background-size: cover;
     margin: 40px;
}

img .profil{
    max-width: 100%;
    height: auto;
    max-height: 80%;
    margin:0 auto;
}
